#navigation-button-next
{
	qproperty-themeIcon: "go-previous";
    qproperty-multiIcon: url(images/go-previous.png);
}

#navigation-button-back
{
	qproperty-themeIcon: "go-next";
    qproperty-multiIcon: url(images/go-next.png);
}

